$primaryColor: #ff7200;
$secondaryColor: #fda22d;

$gray0: #fff;
$gray50: #f0f0f0;
$gray100: #f5f5f5;
$gray200: #e6e6e6;
$gray300: #7d7d7d;
$gray400: #999;
$gray500: #333;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@font-face {
  font-family: "Lulo Clean One Bold";
  src: url("./fonts/Lulo\ Clean\ One\ Bold.otf");
}

@font-face {
  font-family: "Lulo Clean One";
  src: url("./fonts/Lulo\ Clean\ One.otf");
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $gray100 $gray200;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
}

*::-webkit-scrollbar-thumb {
  background-color: $gray200;
  border-radius: 20px;
  border: 3px solid $gray0;
}

.App {
  background-color: #f5f5f5;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: $gray0;
  box-shadow: 0px 2px 8px $gray200;
  padding: 0.5em 1em;
  a {
    font-family: "Lulo Clean One Bold", "Lobster";
    display: flex;
    align-items: center;
    font-size: 0.8em;

    .Logo {
      width: 3em;
      height: 3em;
      margin: 0.5em;
    }

    span b {
      color: $primaryColor;
    }
  }
}

footer {
  width: 100%;
  background-color: $gray100;
}

h1 {
  font-family: "Lulo Clean One Bold", "Lobster";
  font-size: 1.8em;
  span {
    color: $primaryColor;
  }
}

h4 {
  font-size: 1em;
  font-family: "Lulo Clean One";
  margin: 1em;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $secondaryColor;
  }
}

p {
  font-size: 0.9em;
  color: $gray400;
  font-weight: 300;
}

.form-check-input:checked {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.form-check-input:focus {
  border-color: $primaryColor;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 114 0 / 25%);
}

.Logo {
  background-image: url("./images/Recipe\ Logo.svg");
  width: 4em;
  height: 4em;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1em;
}

.ButtonPanel {
  width: 100%;
}

.btn {
  border: none;
  background-color: $primaryColor;
  font-size: 1em;
  padding: 0.9em;
  width: 100%;
  font-family: "Lulo Clean One Bold", "Lobster";
  margin-top: 2em;

  &:hover {
    background-color: $secondaryColor;
  }

  &:focus {
    background-color: $secondaryColor;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 114 0 / 25%);
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 1em;
  border: none;
  border-radius: 1em;
  box-shadow: 4px 8px 2em $gray200;
  align-items: center;
  padding: 4em;

  @media only screen and (max-width: 800px) {
    font-size: 14px;
  }

  &.HomeCard {
    max-width: 40em;
    padding: 2em 4em 4em 4em;
    text-align: center;
    @media only screen and (max-width: 800px) {
      font-size: 14px;
      padding: 1em 2em 2em 2em;

      h1 {
        font-size: 1.2em;
        margin-bottom: 1em;
      }
    }
  }

  &.BuildCard {
    h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  &.RecipeCard {
    padding: 1em 0;
    width: 35em;
    height: 75vh;
    position: relative;
    margin: 0;
    min-width: 250px;

    @media only screen and (max-width: 600px) {
      width: 70vw;
    }

    .ButtonPanel {
      overflow: auto;
      position: absolute;
      bottom: 0;
      border-top: 1px solid $gray200;
      padding: 1em 2em;
      a {
        margin-right: 1em;
      }
    }
  }
}

.RecipeRow.row > .col {
  padding: 0;
  display: flex;
  justify-content: center;
}

.BuildRecipeRow.row > .col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    align-items: center;
  }
}

iframe {
  width: 100%;
  height: 20vh;
}

form {
  text-align: left;
}

.Noodle {
  background-image: url("./images/RamenImage.svg");
  width: 400px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2em;
}

.FinishedNoodleSoup {
  background-image: url("./images/NoodleSoup.svg");
  width: 600px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: darken;

  @media only screen and (max-width: 600px) {
    width: 400px;
  }
}

.nav-item {
  outline: none;
}

.nav-tabs {
  width: 100%;
  .nav-link {
    color: $gray500;
    outline: none;
    transition: none;

    &:hover {
      border: none;
    }

    &:focus-visible {
      outline: none;
    }

    &.active {
      color: $primaryColor;
      border: none;
      border-bottom: 4px solid $primaryColor;
    }
  }
}

.tab-content {
  position: absolute;
  top: 3.8em;
  bottom: 3.5em;
  width: 100%;
  overflow: auto;
  padding: 1em 2em;
}
